.Hero {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #44516c;
}

.postres {
  text-align: center;
  flex-direction: column;
  margin: auto;
  display: flex;
  width: 70%;
}

.postres h2 {
  margin: 4rem 0;
  color: #44516c;
  font-size: 2.3rem;
}
