.finance-section {
  height: 80vh;
  text-align: center;
  background-color: #f6a8d9;
}

.finance-section h2,
p {
  color: #ffffff;
}

.finance-section h2 {
  font-size: 2.5rem;
  padding-top: 4rem;
}

.finance-section p {
  padding-top: 1rem;
  font-size: 1.5rem;
}
