.Line {
  box-sizing: border-box;
  width: 100%;

  border: #44516c solid 2px;
}

.Dessert {
  width: 160px;
  height: 200px;
  margin: 1rem;
  padding: 1rem;
  border: solid #44516c 1px;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

.Dessert li {
  list-style-type: none;
  padding-top: 20px;
}

.DessertTitle {
  padding-bottom: 0.7rem;
  font-size: 1.5rem;
  color: #f6a8d9;
}
